
.navbar-brand-custom {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
}

body, html {
  height: 100%;
  }

  .bg {

    background-image: url('assets/bg-landing.png');

    height: 100vh;
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
   /* background-image: url("assets/bg-landing.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }
  @media screen and (max-width: 768px) {
    .bg {
        background-position: top;
        background-size: contain;
    }
}

  .form-izq {
   

    margin-top: 100px;
    right: 15px;
    margin-left: 0px;
    margin: 20px;
    width: 350px;
    height: 480px;
    background-color: white;
    border-radius:1%;
    margin-top: 10px;
  }


  .fg{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: bold;
  }
  .fgray{
    margin-top: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
  
  }
  .label-imp{
    margin-top: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
  margin-bottom: 4px;
  }

  .buttonform{
    margin-top: 15px !important;
    padding: 5px 95px !important;
    background-color: green !important;
    font-size: 12px !important;

  }
 
.buttonform:hover
{
  margin-top: 15px;
  padding: 5px 93px;
  background-color: green;
  font-size: 12px;

}

  .letteresup{
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: left; 

  }
  .padding{
   padding: 15% 15% 15% 15% ;
  }
  .separacionform{
    margin-top: 100px;
  }
  .cardIzqcss{
    margin-top: 340px;
    margin-right: 0px;
    margin-left: 40px;
    

  }
  .pcard{
    margin-top: 1px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1px;
    line-height : 20px;
    margin-left: 0px;
  }
  .imargeniaz{
    margin-top: 8px;
  }
  .bgRenta {

    background-image: url('assets/fondo-renta.jpg');

    height: 100vh;
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
   /* background-image: url("assets/bg-landing.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }
  @media screen and (max-width: 768px) {
    .bgRenta {
        background-position: top;
        background-size: contain;
    }
}
  .menuBlack {

    color: white;
    font-size: 12px;
    text-align: left; 

  }

  .fgrayRenta{
    margin-top: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
  }

  .form-izqRenta {
   

    margin-top: 100px;
    right: 15px;
    margin-left: 0px;
    margin: 20px;
    width: 350px;
    height: 380px;
    background-color: white;
    border-radius:1%;
    margin-top: 10px;
  }

